<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://blog.carla-bikini.com/wp-content/uploads/2015/08/tropical_cocktails_beach_fruits_fresh_drink_hd-wallpaper-1739643.jpg');">
  <div class="banner-content">
    <h1>Miss Cocktail</h1>
    <p>Best of Cocktail Here</p>
      <div class="container">
      <div class="row">

        <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <% if cocktail.photo.url %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">

         <%= link_to "", cocktail_path(cocktail), class: "card-link" %>

         <div class="card-category">Popular</div>

         <div class="card-description">
         <h2><%= cocktail.name %></h2>
         <p>Very cool cocktail, the best</p>
        </div>

       </div>
       <% else %>
        <div class="card">
          <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('https://www.potiondevie.fr/wp-content/uploads/2013/05/m%C3%A9moriser-les-cocktails-810x511.jpg')">
          <div class="card-category">Popular</div>
          <h2><%= cocktail.name %></h2>
          <p>Very cool cocktail, the best</p>
          <a class="card-link" href="#show" ></a>
        </div>
        <% end %>
          <div class="card-description">
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
